:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}
/* Colors */
:root {
  --color-default: #0a0d13;
  --color-primary: #0d42ff;
  --color-secondary: #0e1d34;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
 font-family: var(--font-default);
}

body {
 font-family: var(--font-default);
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #406aff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

.hero form .btn-primary {
  background-color: var(--color-primary);
  padding: 15px 30px;
}

.hero form .btn-primary:hover {
  background-color: #2756ff;
}
.dashboard{
  padding-top: 100px;
  padding-bottom: 100px;
}
.btnColor{
  color:white;
}

.btnColor:hover{
  color:white;
}

.dashboardForm{
  padding-top: 50px;
  padding-bottom: 50px;
}


.dashboardFormTxt{
  padding-top: 20px;
  padding-bottom: 20px;
}